---
---

@import "{{ site.theme }}";
 
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    margin: 5px;
}

.table{
	display: flex;
	width:100%;
	flex-direction: row;
	flex-wrap:wrap;
}

.table-article{
	flex:3;
}

.table-date{
	flex:1;
}