---
---

@import "{{ site.theme }}";
 
 /*Container for navigation menu*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Item for flex menu*/
.flex-item {
    margin: 5px;
}

/*Table container*/
.table-container{
	display: flex;
	width:100%;
	flex-direction: column;
	flex-wrap:wrap;
}

/*Table row container*/
.table-row{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/*Table article content*/
.table-article{
	margin:5px;
}

/*Table date content*/
.table-date{
	margin:5px;
}